.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  background-color: $color-1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  #checkbox {
    overflow: hidden;
  }

  #checkbox span {
    transition: 0.3s ease-in-out;
    width: 0px;
  }

  input[type="checkbox"]:checked + #checkbox span {
    width: 150px;
  }

  input[type="checkbox"] {
    display: none;
  }

  span,
  i {
    display: flex;
    color: $color-3;
    align-items: center;
  }

  span {
    position: relative;
    left: 10px;
    font-size: 1.5rem;
    @include shadow;
  }

  i {
    cursor: pointer;
    margin: 20px;
    font-size: 1.8rem;
  }

  img {
    width: auto;
    height: 40px;
    margin: 15px;
  }

  ul {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    li {
      display: flex;
    }

    .active {
      background: $color-8;
    }
  }
}
