.home-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
  font-family: "font-2", sans-serif;

  h2,
  p,
  a {
    color: $color-3;
  }

  h2 {
    margin: 15px 0px;
  }

  p {
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 600px;
  }

  a {
    font-weight: bolder;
  }
}
