@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: font-1;
  src: url(../styles/fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: font-2;
  src: url(../styles/fonts/Ubuntu/Ubuntu-Light.ttf);
}
body {
  background: #36393c;
  font-family: "font-1", sans-serif;
  letter-spacing: 1px;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}

.root,
.content {
  height: 100vh;
}

.center {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 40px 0 0;
  text-shadow: 0 0 5px black;
}

@keyframes shake {
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0px);
  }
}
.content {
  margin-left: 70px;
}

.animate {
  animation: show 0.4s ease-in-out;
}

@keyframes show {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
  background-color: #161719;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.navigation #checkbox {
  overflow: hidden;
}
.navigation #checkbox span {
  transition: 0.3s ease-in-out;
  width: 0px;
}
.navigation input[type=checkbox]:checked + #checkbox span {
  width: 150px;
}
.navigation input[type=checkbox] {
  display: none;
}
.navigation span,
.navigation i {
  display: flex;
  color: #fff;
  align-items: center;
}
.navigation span {
  position: relative;
  left: 10px;
  font-size: 1.3rem;
  text-shadow: 0 0 5px black;
}
.navigation i {
  cursor: pointer;
  margin: 20px;
  font-size: 1.8rem;
}
.navigation img {
  width: auto;
  height: 40px;
  margin: 15px;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.navigation ul li {
  display: flex;
}
.navigation ul .active {
  background: #84b437;
}

.input {
  display: grid;
  align-items: start;
  margin: 0 auto;
  width: 90%;
  height: 400px;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.input .inputDiv {
  display: grid;
  justify-items: center;
}
.input .inputDiv label {
  font-size: 1.3rem;
  color: #fff;
  text-shadow: 0 0 5px black;
}
.input .inputDiv input {
  width: 600px;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 1.2rem;
  margin: 10px;
}
.input button {
  width: 200px;
  height: 50px;
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid #161719;
  margin: 20px auto;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background: #161719;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.input button:hover {
  box-shadow: 0px 0px 5px #161719;
}
.input button:active {
  transform: scale(0.8);
}

.tableau {
  display: grid;
  align-items: start;
  width: 90%;
  margin: 0 auto 30px;
}
.tableau table {
  border-collapse: collapse;
  box-shadow: 0 0 10px #161719;
}
.tableau table thead {
  background: #161719;
  color: #fff;
  font-size: 1.3rem;
}
.tableau table thead th {
  padding: 15px;
}
.tableau table tbody td {
  padding: 10px 0px;
  text-align: center;
  font-size: 1.2rem;
}
.tableau table tbody td.benefice.positive {
  color: #008000;
}
.tableau table tbody td.benefice.negative {
  color: #ff0000;
}
.tableau table tbody td .deleteItem {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
}
.tableau table tbody td .deleteItem:hover {
  animation: shake 0.3s forwards;
  color: #ff0000;
}
.tableau table tbody td.vendu {
  color: #161719;
  cursor: pointer;
  font-size: 1.5rem;
}
.tableau table tbody td.vendu:hover {
  color: #008000;
  animation: shake 0.3s forwards;
}
.tableau table tbody tr {
  border-bottom: 1px solid #161719;
  background: #d9d9d9;
  color: #161719;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.tableau table tbody tr.item-vendu {
  background: #c0c0c0;
  color: #008000;
  font-weight: bold;
}
.tableau table tbody tr.item-vendu .vendu {
  color: #008000;
  animation: none;
}
.tableau table tbody tr.item-vendu .vendu:hover {
  color: #ff0000;
}
.tableau table tbody tr.item-vendu .deleteItem {
  color: #ff0000;
}

#map {
  width: 100vw;
  height: 100vh;
  background: #161719;
}

#position {
  z-index: 999;
  padding: 10px;
  background-color: #161719;
  color: #fff;
  min-width: 90px;
  border-radius: 25px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
  position: fixed;
  pointer-events: none;
}

.rectangleOnMap {
  border: 2px solid #161719;
  border-radius: 5px;
}

#select-world {
  position: absolute;
  z-index: 9999;
  right: 30px;
  top: 30px;
  font-size: 1.2rem;
  background: #161719;
  color: #fff;
  font-family: "font-1", sans-serif;
  padding: 10px 20px;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 0 5px #36393c;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}

#position-indicator {
  position: absolute;
  z-index: 9999;
  background: #161719;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "font-2", sans-serif;
}
#position-indicator img {
  width: auto;
  height: 30px;
  margin: 0 5px 0 0;
}

.numbered-resource {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin: 0 !important;
}
.numbered-resource img {
  width: auto;
  height: var(--icon-height);
  filter: drop-shadow(0 0 3px #161719);
}
.numbered-resource span {
  font-size: var(--number-size, 1.5rem);
  font-family: "font-1", sans-serif;
  color: #fff;
  text-shadow: 2px 2px #161719;
  filter: drop-shadow(0 0 2px #161719);
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leaflet-popup-content-wrapper {
  background: transparent;
  font-size: 1rem;
  font-family: "font-2", sans-serif;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 30px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  width: 300px;
  height: 50px;
}

.leaflet-popup-close-button,
.leaflet-popup-tip-container {
  display: none;
}

.popup {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  color: #fff;
}
.popup p {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #161719;
  border-radius: 10px;
  box-shadow: 0 0 5px #36393c;
}
.popup .coords {
  margin-left: 5px;
  font-size: 1.15rem;
  font-weight: bolder;
  background: #161719;
  color: #84b437;
  cursor: pointer;
  font-family: "font-1", sans-serif;
}
.popup img {
  width: auto;
  height: 30px;
  position: relative;
  top: 8px;
}
.popup .resource-list {
  margin-bottom: 10px;
}

.leaflet-top {
  left: 65px;
  top: 0px;
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
  margin: 0;
  padding: 10px 20px;
  border: 0px;
  border-radius: 10px;
  background: transparent;
}
.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control:nth-child(1) {
  padding-top: 20px;
}
.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control:nth-child(5) {
  padding-bottom: 20px;
}

.job-title {
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
}
.job-title.active {
  margin-left: 20px;
}
.job-title.no-resource {
  opacity: 0.4;
}
.job-title.no-resource.active {
  margin-left: 0px;
}
.job-title[data-job=alchimiste] {
  background: url("../../../public/Ressources/Alchimiste/alchimiste.jpg") center/cover;
}
.job-title[data-job=alchimiste] [data-resource=Ortie] {
  background: url("../../../public/Ressources/Alchimiste/Ortie.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource=Sauge] {
  background: url("../../../public/Ressources/Alchimiste/Sauge.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource="Trèfle à 5 feuilles"] {
  background: url("../../../public/Ressources/Alchimiste/Trefle.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource="Menthe Sauvage"] {
  background: url("../../../public/Ressources/Alchimiste/Menthe.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource="Orchidée Freyesque"] {
  background: url("../../../public/Ressources/Alchimiste/Orchidee.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource=Edelweiss] {
  background: url("../../../public/Ressources/Alchimiste/Edelweiss.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource="Graine de Pandouille"] {
  background: url("../../../public/Ressources/Alchimiste/Pandouille.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource=Ginseng] {
  background: url("../../../public/Ressources/Alchimiste/Ginseng.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource=Belladone] {
  background: url("../../../public/Ressources/Alchimiste/Belladone.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource=Mandragore] {
  background: url("../../../public/Ressources/Alchimiste/Mandragore.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource=Perce-Neige] {
  background: url("../../../public/Ressources/Alchimiste/PerceNeige.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource=Salikrone] {
  background: url("../../../public/Ressources/Alchimiste/Salikrone.png") center/cover;
}
.job-title[data-job=alchimiste] [data-resource="Tulipe en papier"] {
  background: url("../../../public/Ressources/Alchimiste/Tulipe.png") center/cover;
}
.job-title[data-job=bucheron] {
  background: url("../../../public/Ressources/Bucheron/bucheron.jpg") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Frêne"] {
  background: url("../../../public/Ressources/Bucheron/Frene.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Châtaignier"] {
  background: url("../../../public/Ressources/Bucheron/Chataigner.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Noyer"] {
  background: url("../../../public/Ressources/Bucheron/Noyer.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Chêne"] {
  background: url("../../../public/Ressources/Bucheron/Chene.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Bombu"] {
  background: url("../../../public/Ressources/Bucheron/Bombu.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois d'Érable"] {
  background: url("../../../public/Ressources/Bucheron/Erable.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois d'Oliviolet"] {
  background: url("../../../public/Ressources/Bucheron/Oliviolet.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Pin"] {
  background: url("../../../public/Ressources/Bucheron/Pin.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois d'If"] {
  background: url("../../../public/Ressources/Bucheron/If.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Bambou"] {
  background: url("../../../public/Ressources/Bucheron/Bambou.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Merisier"] {
  background: url("../../../public/Ressources/Bucheron/Merisier.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Noisetier"] {
  background: url("../../../public/Ressources/Bucheron/Noisetier.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois d'Ébène"] {
  background: url("../../../public/Ressources/Bucheron/Ebene.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Kaliptus"] {
  background: url("../../../public/Ressources/Bucheron/Kaliptus.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Charme"] {
  background: url("../../../public/Ressources/Bucheron/Charme.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Bambou Sombre"] {
  background: url("../../../public/Ressources/Bucheron/BambouSombre.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois d'Orme"] {
  background: url("../../../public/Ressources/Bucheron/Orme.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Bambou Sacré"] {
  background: url("../../../public/Ressources/Bucheron/BambouSacre.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois de Tremble"] {
  background: url("../../../public/Ressources/Bucheron/Tremble.png") center/cover;
}
.job-title[data-job=bucheron] [data-resource="Bois d'Aquajou"] {
  background: url("../../../public/Ressources/Bucheron/Aquajou.png") center/cover;
}
.job-title[data-job=paysan] {
  background: url("../../../public/Ressources/Paysan/paysan.jpg") center/cover;
}
.job-title[data-job=paysan] [data-resource=Blé] {
  background: url("../../../public/Ressources/Paysan/Ble.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Orge] {
  background: url("../../../public/Ressources/Paysan/Orge.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Avoine] {
  background: url("../../../public/Ressources/Paysan/Avoine.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Houblon] {
  background: url("../../../public/Ressources/Paysan/Houblon.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Lin] {
  background: url("../../../public/Ressources/Paysan/Lin.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Seigle] {
  background: url("../../../public/Ressources/Paysan/Seigle.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Riz] {
  background: url("../../../public/Ressources/Paysan/Riz.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Malt] {
  background: url("../../../public/Ressources/Paysan/Malt.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Chanvre] {
  background: url("../../../public/Ressources/Paysan/Chanvre.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Maïs] {
  background: url("../../../public/Ressources/Paysan/Mais.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Millet] {
  background: url("../../../public/Ressources/Paysan/Millet.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Frostiz] {
  background: url("../../../public/Ressources/Paysan/Frostiz.png") center/cover;
}
.job-title[data-job=paysan] [data-resource=Quisnoa] {
  background: url("../../../public/Ressources/Paysan/Quisnoa.png") center/cover;
}
.job-title[data-job=mineur] {
  background: url("../../../public/Ressources/Mineur/mineur.jpg") center/cover;
}
.job-title[data-job=mineur] [data-resource=Fer] {
  background: url("../../../public/Ressources/Mineur/Fer.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Cuivre] {
  background: url("../../../public/Ressources/Mineur/Cuivre.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Bronze] {
  background: url("../../../public/Ressources/Mineur/Bronze.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Kobalte] {
  background: url("../../../public/Ressources/Mineur/Kobalte.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Manganèse] {
  background: url("../../../public/Ressources/Mineur/Manganese.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Étain] {
  background: url("../../../public/Ressources/Mineur/Etain.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Silicate] {
  background: url("../../../public/Ressources/Mineur/Silicate.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Argent] {
  background: url("../../../public/Ressources/Mineur/Argent.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Bauxite] {
  background: url("../../../public/Ressources/Mineur/Bauxite.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Or] {
  background: url("../../../public/Ressources/Mineur/Or.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Dolomite] {
  background: url("../../../public/Ressources/Mineur/Dolomite.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Cendrepierre] {
  background: url("../../../public/Ressources/Mineur/Cendrepierre.png") center/cover;
}
.job-title[data-job=mineur] [data-resource=Obsidienne] {
  background: url("../../../public/Ressources/Mineur/Obsidienne.png") center/cover;
}
.job-title[data-job=mineur] [data-resource="Écume de mer"] {
  background: url("../../../public/Ressources/Mineur/Ecume.png") center/cover;
}
.job-title[data-job=mineur] [data-resource="Cristal pliable"] {
  background: url("../../../public/Ressources/Mineur/CristalPliable.png") center/cover;
}
.job-title[data-job=mineur] [data-resource="Cristal liquide"] {
  background: url("../../../public/Ressources/Mineur/CristalLiquide.png") center/cover;
}
.job-title[data-job=pecheur] {
  background: url("../../../public/Ressources/Pecheur/pecheur.jpg") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Goujon] {
  background: url("../../../public/Ressources/Pecheur/Goujon.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Greuvette] {
  background: url("../../../public/Ressources/Pecheur/Greuvette.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Truite] {
  background: url("../../../public/Ressources/Pecheur/Truite.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Crabe Sourimi"] {
  background: url("../../../public/Ressources/Pecheur/Crabe.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Poisson-Chaton] {
  background: url("../../../public/Ressources/Pecheur/PoissonChaton.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Poisson Pané"] {
  background: url("../../../public/Ressources/Pecheur/PoissonPane.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Carpe d'Iem"] {
  background: url("../../../public/Ressources/Pecheur/Carpe.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Sardine Brillante"] {
  background: url("../../../public/Ressources/Pecheur/Sardine.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Brochet] {
  background: url("../../../public/Ressources/Pecheur/Brochet.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Kralamoure] {
  background: url("../../../public/Ressources/Pecheur/Kralamoure.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Anguille] {
  background: url("../../../public/Ressources/Pecheur/Anguille.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Dorade Grise"] {
  background: url("../../../public/Ressources/Pecheur/Dorade.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Perche] {
  background: url("../../../public/Ressources/Pecheur/Perche.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Raie Bleue"] {
  background: url("../../../public/Ressources/Pecheur/Raie.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Lotte] {
  background: url("../../../public/Ressources/Pecheur/Lotte.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Requin Marteau-Faucille"] {
  background: url("../../../public/Ressources/Pecheur/Requin.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Bar Rikain"] {
  background: url("../../../public/Ressources/Pecheur/Bar.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Morue] {
  background: url("../../../public/Ressources/Pecheur/Morue.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Tanche] {
  background: url("../../../public/Ressources/Pecheur/Tanche.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Espadon] {
  background: url("../../../public/Ressources/Pecheur/Espadon.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Poisskaille] {
  background: url("../../../public/Ressources/Pecheur/Poisskaille.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource=Patelle] {
  background: url("../../../public/Ressources/Pecheur/Patelle.png") center/cover;
}
.job-title[data-job=pecheur] [data-resource="Pichon d'encre"] {
  background: url("../../../public/Ressources/Pecheur/Pichon.png") center/cover;
}
.job-title label {
  width: 50px;
  height: 50px;
  border: 1px solid #36393c;
  box-shadow: 0 0 1px inset #84b437;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  color: #fff;
  position: relative;
}
.job-title label input[type=checkbox]:checked + span::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 15px;
  border: 3px solid #008000;
  left: -3px;
  top: -3px;
}

.job-resources {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, pointer-events 0.2s ease-in-out;
  background-color: #161719;
  border-radius: 15px;
  display: flex;
  position: absolute;
  left: 70px;
  box-shadow: 0 0 5px #161719;
}
.job-resources.open {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.leaflet-control-layers-overlays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-content: space-around;
  justify-items: start;
  width: 100%;
  height: 100%;
}

.home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
  font-family: "font-2", sans-serif;
}
.home-content div h2,
.home-content div p,
.home-content div a {
  color: #fff;
}
.home-content div h2 {
  margin: 15px 0px;
}
.home-content div p {
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 800px;
  margin: 20px;
}
.home-content div p a {
  font-weight: bolder;
  font-family: "font-1", sans-serif;
}

.homeImg {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../../../public/img/image2.jpeg) center/cover;
  box-shadow: 0 0 25px #161719 inset;
}

.alma {
  background: #161719;
  border-radius: 15px;
  width: 700px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}
.alma .almanax {
  display: flex;
  flex-direction: column;
}
.alma .almanax h2 {
  font-size: 1.3rem;
  margin-top: 20px;
  position: relative;
}
.alma .almanax h3 {
  margin-bottom: 20px;
}
.alma .almanax h3::before, .alma .almanax h3::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 230px;
  height: 1px;
  background: #36393c;
}
.alma .almanax h3::before {
  left: -100px;
}
.alma .almanax h3::after {
  right: -100px;
}
.alma .almanax p {
  margin-bottom: 25px;
}
.alma .almanax .almanaxContent {
  display: flex;
  margin: 20px;
}
.alma .almanax .almanaxContent .almanaxContentImg {
  margin-right: 30px;
}
.alma .almanax .almanaxContent .almanaxContentImg img {
  border-radius: 15px;
}
.alma .almanax .almanaxContentText {
  text-align: left;
}
.alma .almanax .almanaxContentOffrande {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.alma .almanax .almanaxContentOffrande .almanaxImgOffrande {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
}
.alma .almanax .almanaxContentOffrande .almanaxImgOffrande img {
  margin-right: 10px;
}
.alma .button {
  position: absolute;
  bottom: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #36393c;
  border: 1px solid #161719;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.alma .button i {
  font-size: 1.5rem;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.alma .button.disabled i {
  color: #161719;
}
.alma .button:active {
  transform: scale(0.3);
}
.alma #buttonLeft {
  left: 50px;
}
.alma #buttonRight {
  right: 50px;
}

.almaFull {
  display: flex;
  flex-direction: column;
}
.almaFull h4 {
  font-size: 1.3rem;
}
.almaFull .months {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 20px 0 40px;
}
.almaFull .months .month {
  width: 150px;
  height: 150px;
  margin: 20px;
  cursor: pointer;
}
.almaFull .months .month img {
  transition: 0.2s ease-in-out;
  border-radius: 15px;
  box-shadow: 0 0 5px #161719;
  border: 3px solid #36393c;
}
.almaFull .months .month img:hover {
  box-shadow: 0 0 15px #161719;
}
.almaFull .months .month.selected img {
  border: 3px solid #008000;
}
.almaFull .months .month p {
  font-size: 1.1rem;
}
.almaFull .fullCalendarTitle,
.almaFull .fullCalendarList {
  display: grid;
  grid-template-columns: 15% 20% 40% 25%;
}
.almaFull .fullCalendarTitle {
  font-size: 1.2rem;
  margin: 10px 0;
}
.almaFull .fullCalendarList {
  justify-items: center;
  align-items: center;
  background: #161719;
}
.almaFull .fullCalendarList p {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 15px 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #36393c;
  letter-spacing: 2px;
  line-height: 23px;
}
.almaFull .fullCalendarList p:last-child {
  grid-template-columns: 30% 70%;
  justify-items: start;
  text-align: left;
}/*# sourceMappingURL=index.css.map */